/* App.css */

/* Style for the entire app */
/* .App {
    /* You can add general styles for your entire app here */
  
  
  /* Style for the black background wrapper */
  *{
    margin: 0;
    padding: 0;
  }
  .body{
    padding: 0%;
    margin: 0px;
  }
  .AppWrapper {
    background: black;
    color: white;
    /* background: rgb(38, 32, 32); */
    /* background-image: url("../public/background.jpg"); */
   padding: 0%;
    min-height: 100vh; /* Ensure the wrapper covers the full viewport height */
  }
  